/* Default Styles */

table, img {width: 100%;}

/* Page Header */

.page-header {
  background: #202529 url('images/map.svg') no-repeat;
  background-size: cover;
  background-position: center 20%;
  /* background-color: #202529; */
  color: white;
  text-align: center;
  padding: 2em;
}

.page-header h1 {
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 0;
}

.page-header .image-wrapper {
  width: 250px;
  margin: 0 auto;
}

/* Wrapper */

body {
  background: url('images/bg-icons.svg') no-repeat 0 10%;
}

h2 {
  font-family: Ubuntu;
  border-bottom: 3px solid #34BEEF;
}

/* Curriculum Tabs */

#curriculum {
  width: 80%;
  margin: 2rem auto;
}

#curriculum .tab-pane {
  display: none;
}

#curriculum .tab-pane.active {
  display: block;
}

.pure-table td {background-color: white;}
.pure-table .pure-table-odd td {background-color: #eee;}
/* Tab Navigation */

.nav {
  width: 80%;
  margin: 2rem auto;
  text-align: center;
}

.nav li.active {background-color: #eee;}

.pure-menu-link:hover {
  background: #34BEEF;
  color: white;
}


/* Lesson Table*/

td ul {padding-left: 1em;}
td li {margin-bottom: .3em;}

.exercise {
  text-align: center;
  color: #E25A59;
  font-style: italic;
}

.pure-table th {color: white;}

.pure-table td:nth-child(n+3) {
  text-align: center;
}


/* Stream Colours */

#core table {border-color: #A366A5;}
#rubySDET table {border-color: #E25A59;}
#testing table {border-color: #57A989;}
#javascriptEngineer table {border-color:#EF7F4E;}
#pmoCourse table {border-color:#F1C447;}

#core .pure-table th {background: #AE7AAE; border-color: #A366A5;}
#rubySDET .pure-table th {background: #EC6964; border-color: #E25A59;}
#testing .pure-table th {background: #6CBE9D; border-color: #57A989;}
#javascriptEngineer .pure-table th {background: #F2905E; border-color:#EF7F4E;}
#pmoCourse .pure-table th {background: #F1C447; border-color:#F1C447;}


/* A bit nicer on small screens */

@media screen and (max-width: 700px) {
  #curriculum {font-size: .8rem;}
  #curriculum {width: 95%;}
  #curriculum h2 {text-align: center;}
  .page-header .image-wrapper {width: 150px;}
  .page-header h1 {font-size: 2em;}
  body {background: none;}
}

@media screen and (min-width: 900px) {

/* Stolen from pure.css */

  .pure-menu {
      width: 100%;
      white-space: nowrap;
  }

  .pure-menu .pure-menu-list {
      display: inline-block;
  }

  .pure-menu .pure-menu-item {
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: middle;
  }

}

@media print {

  /* Basic Styles */
  #curriculum {
    width: 100% !important;
    font-size: 10pt !important;
  }

  /* Show all tab panes when printing */
  #curriculum .tab-pane {
    display: block !important;
  }

  /* Hide navigation */
  .nav {display: none !important;}

  /* Make Header Smaller */
  .page-header .image-wrapper {width: 150px !important;}
  .page-header h1 {font-size: 2em !important;}

  /* Tables */
  table, tbody, th, td, tr {
    border-color: #888 !important;
    position: relative !important;
  }
  table, td, tr, .exercise {color: black !important;}
  thead {
    display: table-header-group !important;
  }
  tr, img {
    position: relative;
    page-break-inside: avoid;
  }
  th {
    background-color: #888 !important;
    color: white !important;
  }

  /* Other Print Styles */
  a, a:visited {text-decoration: underline !important;}
  img {max-width: 100% !important;}
  h2, h3 {
    position: relative !important;
    page-break-after: avoid;
  }
  p, h2, h3 {
      orphans: 3;
      widows: 3;
  }

}
